### 학군과 일자리
- 매매가격, 전세가격 지수 , 미분양 데이터등을 이용해 부동산 시장에서의 수요와 공급을 분석, 부동산 가격이 오를 확률이 높은 지역 예측
- 부동산 시장을 분석하는것이였지만 단순한 투자 자산이 아닌 부동산은 이런 데이터만 가지고 가치를 완벽히 판단할 수 없다.
- 아무리 거래 데이터가 좋은 지역의 부동산이라 해도 교통,교육환경,층,남향등의 살기 좋은 집은 다른 이야기이기 때문이다.
#### 입지라고 이야기한다.
- 입지를 결정하는 요소는 다양하지만 학군과 일자리를 빠질수없다.
- 좋은 학군과 많은 일자리가 부동산 가격에 어떤 영향을 미치는지 확인해보자.

#### 학군이란?
- 학군이란 단어는 정의가 없다.
- 모호하고 추상적이다. 어떤곳은 학교를 지칭하기도, 어떤곳은 학원가도 많고 대학도 잘보내잖아 이렇게 말하는 경우도 있기에 학군은 교육열이나 교육 수준, 혹은 교육하기 좋은 지역 -> 교육환경을 말한다.
- 부동산은 학군이 왜 중요할까? 우리나라에서 주거지의 교육 환경은 주거지를 고를 때 가장 중요한 요소이다.
- 교육을 의해 이사하거나 주거지를 선택하는 모습이 이상하지 않다. 수요증가하고 부동산 가격이 오른다.
- 학군이 좋은 지역이란? -> 도곡동 대치동같은곳은 유명하니까... 학군이 좋은 지역이라고 할수있지만 
- 다른 곳도 학군이 좋은 지역이 많다. 찾아보자. 명백한 정답은 존재하지 않고 우리가 직접 찾아야한다.
- 해당 지역의 중학교, 외고 ,과학과,특목고로 진학한 진학률을 살펴보자.
- 특목고 진학률이나 학업 성취도와 같은 성취는 지역과 연관이 깊다. 특목고 진학률이 데이터 구하기 쉽다.
- 특목고를 외고,과학고로 한정하겠다.

진학생수
    - 경기와 서울지역의 중학교가 압도적으로 특목고에 많이 보냈다.
졸업생 대비 진학생 비율
    - 부산,세종등이 1,2위로 바뀜
    세종은 진학생수가 가장 낮지만 비율로 2등이면 세종 지역의 중학생 수는 적지만 진학률이 높다는것을 알수있음
    - 광주와 전남은 특목고 진학생수도 낮지만 비율도 최하위권이다.

그럼 특목고 진학과 부동산 가격은 어떤 관계가 있을까?
평균아파트매매가격과 진학생 비율 그래프를 보면 어느정도 진학 비율과 비례한다고 말할수있다.
근데 서울은 다른 지역보다 월등히 높은데 한국 사회에서 서울이 갖는 특수성을 생각하면 당연하다.
 
추세선을 넣어보자 -> 관계를 더욱 확실히 볼수있다. 추세선 기울기는 명백한 양수로 명백한 양의 관계가 존재한다고 할수있다.

그래프를 서울의 구별로 보게 되면 진학률 하나로 서울이라는 대도시의 부동산을 평가하기 어렵다.
교육환경뿐만아니라 , 교통 일자리 다양한 요소가 있다는것을 확인할수있다.

- 부산지역같은경우는 특목고 진학률이 서울보다 강한 비례관계를 가지고 있습니다. 하지만 덕원중밖에 없어서 사실 학군을 보기는 어렵죠.


- 그럼 다양한 데이터와 같이 보띾요?
- 좋은 학군의 조건으로 진학률 높은학교와 유해시설이 없는 환경이 좋은 학원가로 꼽습니다.
- 특목고 진학률과 함께 사설 학원에 대한 데이터를 살펴봅시다.
- 사설학원 데이터는 교육통계서비스에 얻을수있고 입시검정 및 보습학원의 숫자를 통해 학원가의 발달정도를 파악합시다.
- 전국 시도별 사설 학원수 숫자는 경기 서울이 압도적으로 많고 다른 지역은 고만고만합니다.
- 학원수,진학률과 같이 매매가격을 비교해본다면 서울 경기도 제외한 다른 지역들은 거의 비슷하게 몰려있어 관계를 설명하기 어렵습니다.
- 학원수가 다른 지역은 평준화 되어있어서 학군을 판단하기 어렵습니다. 시나 구단위로 쪼개봅시다.
- 서울 내에서 각 구의 학원수를 보면 강남구가 압도적이고 양천구,송파구등등으로 대표적인 학원가들을 확인할수있죠.
- 이어서 각 구의 학원 숫자와 평균 매매가격을 비교해보면 전체적으로 우상향하는 관계이기에 학원 개수가 많을수록 평균 아파트 매매가격이 높다는 것을 확인가능하다.
- 학원가 지역을빼면 어떨까요? 강남,송파,서초,양천,노원빼면 비슷하니까 이들 지역또한 개수와 매매가격이 비례할까요?
- 용산구는 예외로 경향성을 파악하기 어렵습니다.
- 학원의 숫자가 특별히 많은 학원가는 확실히 평균가격이 높지만 학원가가 아닌 지역은 학원개수와 매매가격 사이에 상관관계는 존재하지 않는다고 볼수있죠.

- 대구 지역을 살펴보면 여기 또한 서울과 유사하게 수성구 달서구의 학원개수가 앞도적 높기에 매매가격이 높다. 다만 중구는 학원수가 적은거에 비해 교통의 요지, 상업시설등으로 높게 가격이 형성되어있다.
- 전체적으로 그래프를 보면 딱히 특목고 진학률 사이의 관계를 패턴을 찾기 어렵고 학군이 좋은 지역빼고 다른곳은 관계를 찾아보기 어렵다.
- 부산의 해운대구는 부산의 강남이라고 부를수있을만큼 학원수가 많고 특목고 진학률도 높다.
- 서울 대구 부산은 모두 틈곡고 진학률과 학원수가 높은 지역은 학군이 좋은 지역이라는것을 알수있다. 엄청 좋은 지역외에 상관관계를 보기 어렵다.

In [1]:
import pandas as pd


graduate_path = r'/Users/parkjunhyeok/Desktop/부동산데이터분석/2018년 2차_졸업생의 진로 현황(전체).xlsx'
raw_graduate = pd.read_excel(graduate_path, sheet_name='2018_졸업생의 진로 현황(중)')

/opt/homebrew/anaconda3/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
raw_graduate.head()

,시도교육청,지역교육청,지역,정보공시 \n 학교코드,학교명,학교급코드,설립구분,주야간,제외여부,제외사유,...,진학자 계.2,진학자 계.3,취업자,취업자.1,취업자.2,취업자.3,(미진학자)무직자 및 미상,(미진학자)무직자 및 미상.1,(미진학자)무직자 및 미상.2,(미진학자)무직자 및 미상.3
0,시도교육청,지역교육청,지역,정보공시 \n 학교코드,학교명,학교급코드,설립구분,주야간,제외여부,제외사유,...,합계,비율,남,여,합계,비율,남,여,합계,비율
1,서울특별시교육청,교육부,서울특별시 성북구,S000003514,서울대학교사범대학부설중학교,03,국립,주간,N,NaN,...,234,100,0,0,0,0,0,0,0,0
2,서울특별시교육청,교육부,서울특별시 종로구,S000003562,서울대학교사범대학부설여자중학교,03,국립,주간,N,NaN,...,172,100,0,0,0,0,0,0,0,0
3,서울특별시교육청,서울특별시강남서초교육지원청,서울특별시 강남구,S010000698,개원중학교,03,공립,주간,N,NaN,...,214,100,0,0,0,0,0,0,0,0
4,서울특별시교육청,서울특별시강남서초교육지원청,서울특별시 서초구,S010000700,경원중학교,03,공립,주간,N,NaN,...,310,100,0,0,0,0,0,0,0,0

In [4]:
# 데이터프레임정리
select_col = raw_graduate[['지역', '학교명','정보공시 \n 학교코드', '졸업자.2', '(특수목적고)과학고 진학자.2','(특수목적고)외고ㆍ국제고 진학자.2']]
select_col.columns = ['지역', '학교명', '학교코드', '졸업자', '과고', '외고']
graduate_data = select_col.drop(0)
graduate_data['과고'] = pd.to_numeric(graduate_data['과고'])
graduate_data['외고'] =  pd.to_numeric(graduate_data['외고']) 
graduate_data['졸업자'] =  pd.to_numeric(graduate_data['졸업자']) 
graduate_data['총합'] = graduate_data['과고'] + graduate_data['외고']

In [ ]:
def get_sido(x):
    temp = x.split(' ')[0]
    if len(temp) != 4:
        return temp[:2]
    else:
        return temp[0] + temp[2]

graduate_data['시도'] = graduate_data['지역'].dropna().apply(get_sido)
graduate_data['구군'] = graduate_data['지역'].dropna().apply(lambda x: x.split(' ')[1])