In [ ]:
import pandas as pd 
import xlwings as xw
path = '/Users/parkjunhyeok/Desktop/부동산데이터분석/★(월간)KB주택가격동향_시계열(2019.01)12831994601335062.xls'
wb = xw.Book(path)
sheet = wb.sheets['매매종합']
row_num = sheet.range('A1').end('down').end('down').end('down').row # 
data_range = 'A2:GE' + str(row_num) # 범위 어떤 row부터 어디까지 row를 설정해주는거
raw_data = sheet[data_range].options(pd.DataFrame, index=False, header=True).value

In [5]:
raw_data

,구분,전국,서울,강북,None,None,None,None,None,None,...,None,None,양산,거제,진주,김해,통영,제주도,제주/\n서귀포,기타지방
0,None,None,None,None,강북구,광진구,노원구,도봉구,동대문구,마포구,...,의창구,진해구,None,None,None,None,None,None,None,None
1,Classification,Total,Seoul,Northern seoul,Gangbuk-gu,Gwangjin-gu,Nowon-gu,Dobong-gu,Dongdaemun-gu,Mapo-gu,...,Uichang,Jinhae,Yangsan,Geoje,Jinju,Gimhae,Tongyoung,Jeju-do,Jeju/\nSeogwipo,Non-Metropolitan Area
2,86.1,34.656084,30.043817,41.939986,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,2.0,34.656084,30.043817,41.88915,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,3.0,34.707965,30.002377,41.88915,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,9.0,99.193357,98.007605,97.839253,99.073637,98.705734,97.095235,97.681804,97.907439,98.820704,...,101.421388,100.596436,None,None,101.125117,101.86865,None,None,100.145777,100.63901
395,10.0,99.750306,99.410296,99.243866,99.82197,99.401163,99.320514,99.210824,99.368196,99.798188,...,100.877962,100.447509,None,None,100.852076,101.261576,None,None,100.090889,100.451958
396,11.0,99.902268,99.805216,99.780537,99.969214,99.983455,99.870914,99.76646,99.924326,99.933026,...,100.684723,100.173268,None,None,100.504904,100.382496,None,None,100.016336,100.098021
397,12.0,99.979896,99.960024,99.956759,99.982145,100.0,100.019057,99.942483,100.0,100.006494,...,100.546425,100.057927,None,None,100.153606,100.246337,None,None,100.007185,100.051519
398,2019.1,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,None,None,100.0,100.0,None,None,100.0,100.0

In [9]:
# 시-도 데이터와 구-군 데이터를 가져와 리스트로 만들기
big_col = list(raw_data.columns)
small_col = list(raw_data.iloc[0])
big_col[:10], small_col[:10]

(['구분', '전국', '서울', '강북', None, None, None, None, None, None],
 [None, None, None, None, '강북구', '광진구', '노원구', '도봉구', '동대문구', '마포구'])

In [10]:
for num, gu_data in enumerate(small_col):
    if gu_data == None:
        small_col[num] = big_col[num]

In [12]:
# small_col에 None값이 있으면 big_col값을 넣어준다.
big_col[:10], small_col[:10]

(['구분', '전국', '서울', '강북', None, None, None, None, None, None],
 ['구분', '전국', '서울', '강북', '강북구', '광진구', '노원구', '도봉구', '동대문구', '마포구'])

In [ ]:
# small_col과 big_col 리스트 완성하기 
bignames = '서울 대구 부산 대전 광주 인천 울산 세종 경기 강원 충북 충남 전북 전남 경북 경남 제주도 6개광역시 5개광역시 수도권 기타지방 구분 전국'
bigname_list = bignames.split(' ')
big_col = list(raw_data.columns)
small_col = list(raw_data.iloc[0])

for num, gu_data in enumerate(small_col):
    if gu_data == None:
        small_col[num] = big_col[num]
    
    check = num
    while True:
        if big_col[check] in bigname_list:
            big_col[num] = big_col[check]
            break
        else:
            check = check - 1

In [15]:
# 예외수정
big_col[129] = '경기' 
big_col[130] = '경기'
small_col[185] = '서귀포'

In [16]:
raw_data.columns = [big_col, small_col]
new_col_data = raw_data.drop([0,1])

In [18]:
new_col_data

         구분         전국         서울                                   \
         구분         전국         서울         강북        강북구        광진구
2      86.1  34.656084  30.043817  41.939986       None       None
3       2.0  34.656084  30.043817   41.88915       None       None
4       3.0  34.707965  30.002377   41.88915       None       None
5       4.0  34.448563  29.836618  41.736641       None       None
6       5.0  34.292922  29.587979  41.279114       None       None
..      ...        ...        ...        ...        ...        ...
394     9.0  99.193357  98.007605  97.839253  99.073637  98.705734
395    10.0  99.750306  99.410296  99.243866   99.82197  99.401163
396    11.0  99.902268  99.805216  99.780537  99.969214  99.983455
397    12.0  99.979896  99.960024  99.956759  99.982145      100.0
398  2019.1      100.0      100.0      100.0      100.0      100.0

                                                   ...          경남  \
            노원구        도봉구       동대문구         마포구  ...         의창구
2          None       None       None        None  ...        None
3          None       None       None        None  ...        None
4          None       None       None        None  ...        None
5          None       None       None        None  ...        None
6          None       None       None        None  ...        None
..          ...        ...        ...         ...  ...         ...
394   97.095235  97.681804  97.907439   98.820704  ...  101.421388
395   99.320514  99.210824  99.368196   99.798188  ...  100.877962
396   99.870914   99.76646  99.924326   99.933026  ...  100.684723
397  100.019057  99.942483      100.0  100.006494  ...  100.546425
398       100.0      100.0      100.0       100.0  ...       100.0

                                                            제주도              \
            진해구    양산    거제          진주          김해    통영   제주도         서귀포
2          None  None  None        None        None  None  None        None
3          None  None  None        None        None  None  None        None
4          None  None  None        None        None  None  None        None
5          None  None  None        None        None  None  None        None
6          None  None  None        None        None  None  None        None
..          ...   ...   ...         ...         ...   ...   ...         ...
394  100.596436  None  None  101.125117   101.86865  None  None  100.145777
395  100.447509  None  None  100.852076  101.261576  None  None  100.090889
396  100.173268  None  None  100.504904  100.382496  None  None  100.016336
397  100.057927  None  None  100.153606  100.246337  None  None  100.007185
398       100.0  None  None       100.0       100.0  None  None       100.0

           기타지방
           기타지방
2          None
3          None
4          None
5          None
6          None
..          ...
394   100.63901
395  100.451958
396  100.098021
397  100.051519
398       100.0

[397 rows x 187 columns]

In [19]:
index_list = list(new_col_data['구분']['구분'])

new_index = []

for num, raw_index in enumerate(index_list):
    temp = str(raw_index).split('.')
    if int(temp[0]) > 12 :
        if len(temp[0]) == 2:
            new_index.append('19' + temp[0] + '.' + temp[1])
        else:
            new_index.append(temp[0] + '.' + temp[1])
    else:
        new_index.append(new_index[num-1].split('.')[0] + '.' + temp[0])

        
 

new_col_data.set_index(pd.to_datetime(new_index), inplace=True)
cleaned_data  = new_col_data.drop(('구분', '구분'), axis=1)

/var/folders/j6/q47by8d57xv9mxr1cgqzpp_w0000gn/T/ipykernel_19135/241335165.py:18: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  new_col_data.set_index(pd.to_datetime(new_index), inplace=True)